{{!-- views/dashboard.handlebars --}}
<h2 class="text-center">Bienvenido, {{usuario.nombre}}</h2>
<p class="text-center">Rol: {{usuario.rol}}</p>

<div class="row">
  <div class="col-md-6">
    <a href="/curso/crear" class="btn btn-primary w-100">Crear un Curso</a>
  </div>
  <div class="col-md-6">
    <a href="/estadisticas/inscripcion" class="btn btn-secondary w-100">Ver Estadísticas</a>
  </div>
</div>